.input {
  display: flex;
  border-radius: 4px;
  background-color: transparent;
  color: inherit;
  transition: border-color 0.3s ease, transform 0.3s ease;
  padding: 4px;
  margin-bottom: 15px;
}

input:hover {
  border-color: rgb(104, 188, 14);
}
